
credentials.py
Ignore/ads_01.json
Ignore/ads_01.xlsx
Ignore/ads_02.json
Ignore/ads_02.xlsx
Ignore/ads_03.json
Ignore/ads_03.xlsx
Ignore/ads_04.json
Ignore/ads_04.xlsx
Ignore/ads_05.json
Ignore/ads_05.xlsx
Ignore/ads_cost.csv
Ignore/ads_insights.xlsx
Ignore/ads_modified.xlsx
Ignore/all.json
Ignore/all.xlsx
Ignore/insights.csv
Ignore/insights.xlsx
Ignore/nazwy kampanii.txt
ROAS reklam.xmind
